.course {
    background-color: aliceblue;
    font-size: 14px;
    padding: 0.5rem 0 0.5rem 0;
    margin: 1rem 4rem 1rem 4rem;
    display: block;
    text-align: center;
    position: relative;
}

#draggableCourse:hover {
    background-color: lightcyan;
}

#draggableCourse {
    cursor: pointer;
}

.cancelButton {
    height: 3rem;
    width: 3rem;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}

.cancelButton:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c";
    font-size: 25px; 
    color: transparent;
    text-shadow: 0 0 0 white;
    line-height: 50px;
    text-align: center;
}