.electiveHeadline {
    text-align: center;
    font-size: 125%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.electiveForm {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 35rem;
    height: 4rem;
}

.electiveResult {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}