.degreeForm {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    height: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.DegreeGrid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}