.requestHeadline {
    color: white;
    font-size: 155%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.requestExplain {
    display: flex;
    font-size: 110%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 1.5rem;
}

.requestButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 0.5rem 0;
}