.degreeName {
    font-size: 200%;
    margin-bottom: 1rem;
}

.year {
    font-size: 125%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SelectionGridElement {
    background-color: white;
    margin: 2rem 3rem 2rem 2rem;
    padding: 1rem 1rem 1rem 1rem;
    display: grid;
}

.SelectionGridElement:hover {
    background-color: aliceblue;
}

.majorSelection {
    display: block;
    margin: 0 auto;
    background-color: white;
    border: none;
    width: 100%;
    padding: 2rem 2rem 2rem 2rem;
    margin-bottom: 2rem;
}

.majorSelection:hover {
    background-color: aliceblue;
}

.degreeSelection {
    margin-left: 2rem;
    padding: 1rem 3rem 1rem 3rem;
}