.year {
    display: block;
    position: relative;
}

.yearHeadline {
    display: block;
    margin: 0 auto;
    font-size: 125%;
    border: none;
    width: 100%;
    margin-top: 1rem;
    background-color: lightgrey;
}

.yearHeadline:not(:focus):hover {
    background-color: darkgray;
}

.deleteYear {
    height: 3rem;
    width: 3rem;
    background-color: red;
    position: absolute;
    top: 2.5rem;
    right: 0;
}

.deleteYear:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c";
    font-size: 25px; 
    color: transparent;
    text-shadow: 0 0 0 white;
    line-height: 50px;
    text-align: center;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid grey;
    float: right;
    margin-top: 0.5rem;
}