.degreeName {
    font-size: 155%;
    text-align: center;
    margin-top: 1rem;
}

.degreeUnits {
    font-size: 130%;
    text-align: center;
    margin-bottom: 1rem;
}

.degreeConstraints {
    text-align: center;
    margin-bottom: 1rem;
}