.section {
    color: black;
}

.sectionDetails {
    font-size: 125%;
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courseNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}