.degreeName {
    font-size: 200%;
    margin-bottom: 1rem;
}

.year {
    font-size: 125%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SelectionGridElement {
    background-color: white;
    margin: 2rem 3rem 2rem 2rem;
    padding: 3rem 1rem 3rem 1rem;
    display: grid;
}

.SelectionGridElement:hover {
    background-color: aliceblue;
}