.year {
    display: block;
    border: solid grey;
    position: relative;
    padding-top: 1rem;
}

.yearHeadline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 125%;
    border: none;
}

.deleteYear {
    height: 3rem;
    width: 3rem;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}

.deleteYear:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c"; /* use the hex value here... */
    font-size: 25px; 
    color: transparent;
    text-shadow: 0 0 0 white;
    line-height: 50px;
    text-align: center;
}