.App {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.Headline {
    color: white;
    font-size: 200%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.ResetButton {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
}

.Disclaimer {
    color: white;
    font-size: 85%;
    flex-shrink: 0;
}